In [ ]:
"""
Given an array 'arr' containing 'n' elements, rotate this array left once and return it.
Rotating the array left by one means shifting all elements by one place to the left and moving
the first element to the last position in the array.
Example:
Input: 'a' = 5, 'arr' = [1, 2, 3, 4, 5]
Output: [2, 3, 4, 5, 1]
Explanation: We moved the 2nd element to the 1st position, and 3rd element to the 2nd position,
and 4th element to the 3rd position, and the 5th element to the 4th position, and move the 1st 
element to the 5th position.

"""

In [ ]:
arr = []
n = int(input("Enter how many element are in the array"))
while(n!=0):
    temp = int(input("Enter the number"))
    arr.append(temp)
    n = n-1

s_temp = arr[0]
print("Original Array",end =" ")
print(arr)

for i in range(1,len(arr)):
    arr[i-1]=arr[i]
    
arr[len(arr)-1]=s_temp;

print("Rotated Array",end =" ")
print(arr)

In [ ]:
"""
You are given an array 'arr' of length 'n', consisting of integers.
A subarray is a contiguous segment of an array. In other words, a 
subarray can be formed by removing 0 or more integers from the beginning
and 0 or more integers from the end of an array.

Find the sum of the subarray (including empty subarray) having maximum sum among all subarrays.
The sum of an empty subarray is 0.
Example :
Input: 'arr' = [1, 2, 7, -4, 3, 2, -10, 9, 1]
Output: 11
Explanation: The subarray yielding the maximum sum is [1, 2, 7, -4, 3, 2].

"""

In [ ]:
"""
Write a function to reverse a string without using any built-in reverse functions.

"""

In [ ]:
str = input("Enter the string")

def reverse(str):

    new_str = ""
    for i in str:
        new_str = i + new_str
    return new_str

reverse(str)

In [ ]:
""" 

4.Write a function to check if two strings are anagrams of each other.
Example:
Input 1: "listen"
Input 2: "silent"
Output: Are Anagrams: True
Explanation
function first removes spaces and converts both input strings to lowercase to make the comparison case-insensitive.
Then, it checks if the sorted list of characters in both strings is the same. If they are the same, the strings are anagrams.

The function returns True for this example because the characters in "listen" can be rearranged to form "silent."
If the characters were different or had different frequencies, the function would return False.

"""

In [ ]:
input1 = list((input("")).replace(" ",""))
input2 = list((input("")).replace(" ",""))

new1 = ''.join(sorted(input1))
new2 = ''.join(sorted(input2))

if(new1 == new2):
    print("True")
else:
    print("False")

In [ ]:
"""

1. Write a program to print all the unique characters in a String. For instance, 
if the input string is “abcb”, the output will be the characters ‘a’ and ‘c’ as they are unique. 
The character ‘b’ repeats twice and so it will not be printed.

Input: abcab
Output: c

"""

In [ ]:
input1 = input("Enter the string")
dict1 = {}
for word in input1:
    if word in dict1:
        dict1[word] += 1
    else:
        dict1[word] = 1

for key,value in dict1.items():
    if(value == 1):
        print(key,end = " ")

In [ ]:
"""

2. Given three values - Start Fahrenheit Value (S), End Fahrenheit value (E) and Step Size (W), you need to convert 
all Fahrenheit values from Start to End at the gap of W, into their corresponding Celsius values and print the table.

"""

In [ ]:
S = int(input("Start Value"))
E = int(input("End Value"))
W = int(input("Step"))

print("Fahrenheit Scale" ,end=" ")
for i in range(S,E,W):
    print(i,end=" ")
print('\n')
print("Celsius Scale" ,end=" ")
for i in range(S,E,W):
   
    print( "{0:.2f}".format(((i-32)*(5/9))),end=" ")

In [ ]:
"""
3.Write a program to input an integer 'n' and print the sum of all its even digits and the sum of all its odd digits separately.
Digits mean numbers, not places! That is, if the given integer is "132456", even digits are 2, 4, and 6, and odd digits are 1, 3, and 5.
Example :
Input: 'n' = 132456
Output: 12 9
Explanation:
The sum of even digits = 2 + 4 + 6 = 12
The sum of odd digits = 1 + 3 + 5 = 9

"""

In [ ]:
n = int(input("Enter the number: "))
list_n = []
while(n!=0):
    digit = n%10
    n = n//10
    list_n.append(digit);
    
even_sum = 0
odd_sum = 0
for i in list_n:
    if(i%2==0):
        even_sum += i
    else:
        odd_sum += i;

print("Even sum ",even_sum)
print("Odd sum ",odd_sum)

In [ ]:
"""
4. Write a program that takes a number as input and prints all its factors except 1 and the number itself.. 
If the number has only two factors (1 and the number itself), then the program should print -1.
Sample Input:
8
Sample Output:
2 4
Explanation of Sample Output 1 :
The factors for the number excluding 1 and itself are 2 and 4, so the output is 2 4.

"""

In [ ]:
n = int(input("Enter the number"))
counter = 0;

for i in range(2,n):
    
    if(n%i==0):
        counter += 1 
        print(i,end = " " )

if(counter==0):
    print("-1")

In [ ]:
"""
5.Write a program to find x to the power n (i.e. x^n). Take x and n from the user. You need to print the answer.
Note : For this question, you can assume that 0 raised to the power of 0 is 1
Sample Input :
 3 4
Sample Output :
81

"""

In [ ]:
x,n = input().split()

x = int(x)
n = int(n)

print(x**n)

In [ ]:
"""

6. Write a program to generate the reverse of a given number N. Print the corresponding reverse number.

Note : If a number has trailing zeros, then its reverse will not include them. For e.g., reverse of 10400 will be 401 instead of 00401.

Sample Input 1 :
1234
Sample Output 1 :
4321

"""

In [ ]:
num =  int(input("Enter the number"))
reverse_number = 0
while(num!=0):
    digit = num%10
    reverse_number = reverse_number*10 + digit
    num = num //10
print(reverse_number)

In [ ]:
"""
1.Print the following pattern for the given N number of rows.

Pattern for N = 4
A
BC
CDE
DEFG

"""

In [ ]:
N = int(input("Pattern for N ="))
col = 1
Alphabet = 'A'

for i in range(0,N):
    d = Alphabet
    for j in range(0,col):
        print(d,end =" ")
        d = chr(ord(d)+1)
    Alphabet= chr(ord(Alphabet)+1)
    print('\n')
    col = col + 1

In [ ]:
"""
2.Print the following pattern for the given N number of rows.

Pattern for N = 4
1
21
321
4321

"""

row = 4
col = 1
num = 1

for i in range(0,row):
    for j in range(0,col):
        print(num,end="")
        num -= 1

    print('\n')
    col += 1
    num = col

In [ ]:
"""
3.Print the following pattern for the given N number of rows.

Pattern for N = 3
 A
 BB
 CCC

 """

n = int(input())
alpha = 'A'
for i in range(1,n+1):
    print(alpha*i,end=" ")
    alpha = chr(ord(alpha)+1)
    print('\n')

In [ ]:
"""
5.Print the following pattern for the given number of rows.

Pattern for N = 5
E
DE
CDE
BCDE
ABCDE
"""

n = int(input("Pattern for N = "))

alpha = chr(65+n-1)
col = 1;

for i in range(0,n):
    temp = chr(ord(alpha)-i)
    for j in range(0,col):
        print(temp,end="")
        temp = chr(ord(temp)+1)
    print('\n')
    col += 1

In [ ]:
"""

6.Write a program to print parallelogram pattern for the given N number of rows.

For N = 3
***
 ***
  ***
"""

n = int(input())
col=row=n
for i in range(0,n):
    for j in range(i+1):
        print(" ",end = "")
    for k in range(n):
        print("*",end="")

    print('\n')

In [ ]:
"""
7.Print the following pattern for the given N number of rows.

Pattern for N = 3
      1 
     12
    123
"""

n = int(input())
col = 1 
spacing = 5
number = 1
for i in range(n):
    temp = number
    print(" "*spacing,end="")
    spacing -=1
    for j in range(0,col):
        print(number,end="")
        number += 1
    number = temp
    print('\n') 
    col += 1

In [168]:
"""
8.Write a program to print the pattern for the given N number of rows.

For N = 4

1357
3571
5713
7135
"""

def kuchkuch(n):
    arr = list(n);
    s_temp = arr[0]
    for i in range(1,len(arr)):
        arr[i-1]=arr[i]
        
    arr[len(arr)-1]=s_temp;
    return ''.join(arr);

n = int(input())
temp1 = "1357"
while(n!=0):
    temp = kuchkuch(temp1)
    print(temp)
    temp1 = temp
    n -=1

 3

3571
5713
7135